<div class="row mb-3">
  <div class="col mb-2 mb-xl-0">
    <div class="form-inline d-flex align-items-center">
      <label class="text-muted me-2 mb-0" i18n>Filter by:</label>
      <input
        class="form-control form-control-sm flex-fill w-auto"
        type="text"
        autofocus
        (keyup)="onFilterKeyUp($event)"
        placeholder="Name or bundle ID"
        i18n-placeholder
      />
    </div>
  </div>

  <div class="col-auto mb-2 mb-xl-0">
    <div class="form-inline d-flex align-items-center">
      <div class="input-group input-group-sm w-auto d-none d-md-flex">
        <span class="input-group-text border-0" i18n>Show:</span>
      </div>
      <div class="input-group input-group-sm w-auto me-3">
        <select
          class="form-select form-select-sm small"
          [(ngModel)]="pageSize"
          (change)="page = 1; reloadData()"
        >
          <option [ngValue]="25">25</option>
          <option [ngValue]="50">50</option>
          <option [ngValue]="100">100</option>
        </select>
        <span class="input-group-text text-muted d-none d-md-flex" i18n
          >per page</span
        >
      </div>
      <ngb-pagination
        [pageSize]="pageSize"
        [collectionSize]="collectionSize"
        [(page)]="page"
        [maxSize]="5"
        (pageChange)="reloadData()"
        size="sm"
        aria-label="Pagination"
      ></ngb-pagination>
    </div>
  </div>
</div>

<div class="card border table-responsive mb-3">
  <table class="table table-striped align-middle shadow-sm mb-0">
    <thead>
      <tr>
        <th
          class="fw-normal"
          pngxSortable="bundle_id"
          [currentSortField]="sortField"
          [currentSortReverse]="sortReverse"
          (sort)="onSort($event)"
          i18n
        >
          Bundle ID
        </th>
        <th
          class="fw-normal"
          pngxSortable="name"
          [currentSortField]="sortField"
          [currentSortReverse]="sortReverse"
          (sort)="onSort($event)"
          i18n
        >
          Name
        </th>
        <th
          class="fw-normal"
          pngxSortable="document_count"
          [currentSortField]="sortField"
          [currentSortReverse]="sortReverse"
          (sort)="onSort($event)"
          i18n
        >
          Documents
        </th>
        <th
          class="fw-normal d-none d-sm-table-cell"
          pngxSortable="created"
          [currentSortField]="sortField"
          [currentSortReverse]="sortReverse"
          (sort)="onSort($event)"
          i18n
        >
          Created
        </th>
        <th class="fw-normal" i18n>Actions</th>
      </tr>
    </thead>
    <tbody>
      @if (loading && bundles.length === 0) {
        <tr>
          <td colspan="5">
            <div
              class="spinner-border spinner-border-sm me-2"
              role="status"
            ></div>
            <ng-container i18n>Loading...</ng-container>
          </td>
        </tr>
      }
      @if (!loading && bundles.length === 0) {
        <tr>
          <td colspan="5" class="text-muted" i18n>No bundles found.</td>
        </tr>
      }
      @for (bundle of bundles; track bundle.id) {
        <tr class="data-row fade" [class.show]="show">
          <td>
            <a
              [routerLink]="['/attributes', 'bundles', bundle.id]"
              class="btn btn-link ms-0 ps-0 text-start font-monospace"
              >{{ bundle.bundle_id }}</a
            >
          </td>
          <td>{{ bundle.name || '-' }}</td>
          <td>{{ bundle.document_count || 0 }}</td>
          <td class="d-none d-sm-table-cell">
            {{ bundle.created | customDate }}
          </td>
          <td>
            @if (userCanEditBundles) {
              <div class="btn-group btn-group-sm d-none d-sm-inline-flex">
                <button
                  class="btn btn-outline-secondary"
                  (click)="openEditDialog(bundle)"
                >
                  <i-bs
                    width="1em"
                    height="1em"
                    name="pencil"
                    class="me-1"
                  ></i-bs
                  ><ng-container i18n>Edit</ng-container>
                </button>
                <button
                  class="btn btn-outline-danger"
                  (click)="openDeleteDialog(bundle)"
                >
                  <i-bs
                    width="1em"
                    height="1em"
                    name="trash"
                    class="me-1"
                  ></i-bs
                  ><ng-container i18n>Delete</ng-container>
                </button>
              </div>
            }
            <div ngbDropdown class="d-inline-block d-sm-none">
              <button
                type="button"
                class="btn btn-sm btn-outline-secondary"
                ngbDropdownToggle
                i18n-title
                title="Actions"
              >
                <i-bs name="three-dots"></i-bs>
              </button>
              <div ngbDropdownMenu>
                <a
                  ngbDropdownItem
                  [routerLink]="['/attributes', 'bundles', bundle.id]"
                  i18n
                  >Open</a
                >
                @if (userCanEditBundles) {
                  <button
                    ngbDropdownItem
                    type="button"
                    (click)="openEditDialog(bundle)"
                    i18n
                  >
                    Edit
                  </button>
                  <button
                    ngbDropdownItem
                    type="button"
                    class="text-danger"
                    (click)="openDeleteDialog(bundle)"
                    i18n
                  >
                    Delete
                  </button>
                }
              </div>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

@if (!loading || bundles.length > 0) {
  <div class="d-flex mb-2">
    @if (collectionSize > 0) {
      <div>
        <ng-container i18n>{collectionSize, plural,
          =1 {One bundle}
          other {{{collectionSize || 0}} total bundles}
        }</ng-container>
      </div>
    }
    @if (collectionSize > pageSize) {
      <ngb-pagination
        class="ms-auto"
        [pageSize]="pageSize"
        [collectionSize]="collectionSize"
        [(page)]="page"
        [maxSize]="5"
        (pageChange)="reloadData()"
        size="sm"
        aria-label="Pagination"
      ></ngb-pagination>
    }
  </div>
}
